//color
$tag-blue: #222831;
$link-grey: #484e57;
$button-hover-blue: #4d5a6e;
$background-color: #f2f2f2;
$text-dark-grey: #818285;
$text-light-grey: #bebfbf;
$warning-color: #fef24c;
$lemon-yellow: #faf6b1;
$error-color: rgb(139, 0, 0);
$banner-color: linear-gradient(35deg, #f8f18d, #E1F5C4);
//font
$logo-font: 'Open Sans Condensed', sans-serif;
$primary-font: 'Noto Sans TC', sans-serif;