html,body {
  font-size: 12px;
  width: 100%;
  height: 100%;
  background: linear-gradient(35deg, #accbee 0%, #e7f0fd 100%);
  background-size: cover;
  overflow: auto;
}

html, body, h1, h2, p {
  margin: 0px;
  padding: 0px;
}


.warning {
  background: pink;
  color: darkred;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  padding: 5px;
}

.error {
  color: rgb(197, 44, 44);
  margin-bottom: 10px;
  font-weight: bold;
}

.comment-writting-area__desc {
  margin-bottom: 5px;
}

.comment-area {
  box-sizing: border-box;
  background: #F7F8FD;
  width: 50%;
  margin: 30px auto;
  padding: 30px 30px 30px 30px;
  border-radius: 10px;
}

.comment-top {
  display: flex;
  justify-content: space-between;
}

.comment-top__title {
  font-family: 'Roboto', sans-serif;
  color: #93aae9;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.comment-top__btns {
  display: flex;
}

.comment-top__btn {
  height: 30px;
  border:1px solid #93aae9;
  cursor: pointer;
  background-color: white;
  text-decoration: none;
  font-size: 14px;
  color: black;
  display: flex;
  align-items: center;
  padding: 0 5px;
}

.comment-top__btn:first-child {
  margin-right: 10px;
}

.comment-writting-area {
  margin-top: 10px;
}

.comment-writting-area__form__nickname {
  margin-top: 10px;
  margin-bottom: 10px;
}

.comment-writting-area__form__nickname__input {
  border:1px solid #93aae9;
}

.comment-writting-area__form__content {
  display: flex;
}

.comment-writting-area__form__content__textarea {
  border:1px solid #93aae9;
  margin-right: 10px;
}

.comment-writting-area__form__submit {
  margin-left: 10px;
  height: 30px;
  border:1px solid #93aae9;
  cursor: pointer;
  background-color: white;
}

.line {
  margin: 30px 0;
  height: 1px;
  background-color: rgb(215, 215, 215);
}

.comment-display {
  display: flex;
  margin-bottom: 30px;
}

.comment-display__fake-avatar {
  border-radius: 50%;
  background-color: rgb(192, 227, 238);
  width: 50px;
  height: 50px;
}

.comment-display__info {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  box-sizing: border-box;
}

.comment-display__info__top {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.comment-display__info__nickname {
  margin-right: 10px;
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: #587ee9;
  font-weight: bold;
  font-size: 18px;

}

.comment-display__info__date {
  display: inline;
  display: inline;
  font-family: 'Roboto', sans-serif;
  color: #939393;
  font-weight: bold;
  font-size: 15px;
}

.comment-display__info__content {
  white-space: pre-line;
}